* {
	box-sizing: border-box;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.box {
	background: #EEE;
	border: 1px solid grey;
	padding: 40px;
}

.hdr,
.content_area,
.col3_area,
.ftr {
	width: 100%;
	margin-bottom: 20px;
	float: left;
}

.hdr,
.ftr {
	height: 150px;
}

.content_left {
	width: 590px;
	margin-right: 20px;
	float: left;
	height: 400px;
}

.content_right {
	width: 590px;
	margin-right: 0;
	float: left;
	height: 400px;
}

.col3 {
	width: 32%;
	margin-right: 20px;
	float: left;
	height: 200px;
}

.col3_last {
	margin-right: 0;
	float: right;
}