* {
	box-sizing: border-box;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.box {
	background: #EEE;
	border: 1px solid grey;
	padding: 40px;
}

.hdr,
.content_area,
.ftr {
	width: 100%;
	margin-bottom: 20px;
	float: left;
}

.hdr,
.ftr {
	height: 150px;
}

.left_aside {
	width: 180px;
	margin-right: 20px;
	float: left;
	height: 500px;
}

.content_main {
	width: 800px;
	margin-right: 20px;
	float: left;
	height: 500px;
}

.right_aside {
	width: 180px;
	margin-right: 0;
	float: left;
	height: 500px;
}